.reveal form {
	margin-top: 60px;
}

form input[type=radio]{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

form.twoItemSpacing input[type=radio] {
	margin-right: 50px;
}

form.optionList p {
	text-align: left;
}

.reveal h1.smallFont {
	font-size: 1.0em;
}

.reveal h1.title {
	border-bottom: #222 1px solid;
	padding-bottom: 7px;
}